.login_input{
    text-indent: 2px;
}

.box{
    background: #181B20;  /* fallback for old browsers */
    
}

.box_inner_circle{
    background: linear-gradient(110deg, rgba(62, 167, 212, 0.5) 0%, rgba(136, 110, 221, 0.863) 100%);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    transform: rotate(-1deg);
}

.blur_circle_1{
    position: absolute;
    width: 800px;
    height: 500px;
    right: 1%;
    top: 10%;
    opacity: .8;
    background: #2672C5;
    filter: blur(300px);
}

.blur_dot_1{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20%;
    top: 20%;
    background: #866DDA;
    filter: blur(8px);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.blur_dot_2{
    position: absolute;
    width: 27px;
    height: 27px;
    left: 10%;
    bottom: 10%;
    background: #3EA5D2;
    filter: blur(8px);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.or_strike{
    display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap; 
}

.or_strike > span {
    position: relative;
    display: inline-block;
}

.or_strike > span:before,
.or_strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: black;
}

.or_strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.or_strike > span:after {
    left: 100%;
    margin-left: 15px;
}
/* 
.moving_circle{
    animation: moving_circle 5s ease infinite;
}

@keyframes moving_circle {
    0% {
        transform: translate(-150%, 0);
    }
    25% {
        transform: translate(0, -50%);
    }
    50% {
        transform: translate(-50%, 0);
    }
    75% {
        transform: translate(-100%, -100%);
    }
    100% {
        transform: translate(-140%, -10%);
    }
} */