#market{
    background: #181B20;
}


.custom_scroll{
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: rgba(35, 107, 241, 0.726) #412c5383;
}


.sidebar{
    width: 320px;
    height: 100vh;
    z-index: 80;
    background: linear-gradient(-150.01deg, #2E559A 0%, #276DC3 43.77%, #412C53 98.95%);
}

.content{
    width: 90%;
    padding-top: 4rem;
}

.free,.welcome{
    margin-left: 340px;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    background: linear-gradient(150.01deg, #2E559A 0%, #276DC3 43.77%, #412C53 98.95%);
}

.welcome{
    height: 15vh;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.market_card_btn{
    background: linear-gradient(150.41deg, #2E559A 22.34%, #276DC3 52.68%, #412C53 84.54%);
}

.market_card .box{
    width: 10rem;
}

.see_more{
    background: linear-gradient(150.01deg, #2E559A 0%, #276DC3 43.77%, #412C53 98.95%);
}

.see_more:hover{
    background: linear-gradient(150.01deg, #2E559A 0%, #143e70 43.77%, #3c0c66 98.95%);
}


/* Background Circles and blurs */
.blur_circle_bg{
    position: fixed;
    width: 40rem;
    height: 40rem;
    bottom: -10rem;
    right: -5rem;
    opacity: .6;
    background: #2672C5;
    filter: blur(300px);
}

.big_circle_bg{
    position: fixed;
    bottom: -8rem;
    right: -7rem;
    background: linear-gradient(90deg, rgba(62, 165, 210, 0.5) 0%, rgb(128, 89, 255) 100%);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    transform: rotate(-1deg);
}

.blur_dot_1{
    position: fixed;
    width: 40px;
    height: 40px;
    right: 20rem;
    bottom: 23rem;
    background: #866DDA;
    filter: blur(8px);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.blur_dot_2{
    position: fixed;
    width: 30px;
    height: 30px;
    right: 30rem;
    bottom: 5rem;
    background: #3EA5D2;
    filter: blur(8px);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

/* Background circles and blurs (END) */


@media screen and (max-width: 1023px){
    .content{
        overflow: auto;
        border-radius: 0;
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    
    .welcome{
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        overflow: auto;
    }
    
}

@media screen and (max-width: 640px){
    
    .free,.welcome{
        margin-left: 10px;
    }
}

@media screen and (max-width: 400px){
    .welcome{
        width: 60%;
        margin: 0 auto;
        overflow: hidden;
        /* margin-left: 10px; */
    }
}

@media screen and (max-width: 380px){
    .welcome{
        padding-bottom: 6rem;
    }
}
