#market{
    background: #181B20;
    /* background: linear-gradient(-45deg, #412C53, #9a1fec, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite; */
}


.custom_scroll{
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: rgba(35, 107, 241, 0.726) #412c5383;
}


.sidebar{
    width: 320px;
    height: 100vh;
    z-index: 50;
    background: linear-gradient(-150.01deg, #2E559A 0%, #276DC3 43.77%, #412C53 98.95%);
}

.content{
    width: 90%;
    padding-top: 4rem;
}

.free,.welcome{
    margin-left: 340px;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(150.01deg, #2E559A 0%, #276DC3 43.77%, #412C53 98.95%);
}

.welcome{
    /* background: linear-gradient(150.01deg, #2e569a3d 0%, #276dc33a 43.77%, #412c5383 98.95%); */
    /* background: linear-gradient(150.01deg, #2E559A 0%, #276DC3 43.77%, #412C53 98.95%); */
    /* width: 77%; */
    height: 15vh;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.market_card_btn{
    /* background: linear-gradient(150.01deg, #2e569a 0%, #276dc3cc 43.77%, #6b12b9e3 98.95%); */
    background: linear-gradient(150.41deg, #2E559A 22.34%, #276DC3 52.68%, #412C53 84.54%);
}

.see_more{
    background: linear-gradient(150.01deg, #2E559A 0%, #276DC3 43.77%, #412C53 98.95%);
}

.see_more:hover{
    background: linear-gradient(150.01deg, #2E559A 0%, #143e70 43.77%, #3c0c66 98.95%);
}

.blur_circle_1{
    position: absolute;
    width: 632px;
    height: 632px;
    left: -10%;
    top: -50%;
    background: #412C53;
    filter: blur(300px);
}
.blur_circle_2{
    position: absolute;
    width: 632px;
    height: 545px;
    right: -10%;
    top: -20%;
    background: #2672C5;
    filter: blur(300px);
}


/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */


@media screen and (max-width: 1023px){
    .content{
        overflow: auto;
        border-radius: 0;
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    
    .welcome{
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        overflow: auto;
    }
    
}

@media screen and (max-width: 640px){
    
    .free,.welcome{
        margin-left: 10px;
    }
}

@media screen and (max-width: 400px){
    .welcome{
        margin-left: 10px;
    }
}

@media screen and (max-width: 380px){
    .welcome{
        padding-bottom: 6rem;
    }
}
